@import 'nib'

$purple 		= #5C4979
$yellow 		= #FBC023
$red 			= #F9585F  
$gray 			= #ADB5C6
$gray__light 	= #EEEEEE
$purple_light 	= #EEECFA
$purple_dark 	= #46457D

body 
	background $purple_light
	font-family 'Hind', sans-serif

.border
	border-bottom solid 2px $gray__light
	width 90%
	margin 30px 0
	float right
.row
	padding 15px 30px 0 30px
	
.col-sm-1
.col-xs-1
	padding 0 5px 

input[type=checkbox] 
	display:none;

.checkbox__mask
	font-size 20px

input[type=checkbox] + .checkbox__mask:before
	content: '\f096'
	letter-spacing: 10px
	font-family: FontAwesome
	display: inline-block
	
input[type=checkbox]:checked + .checkbox__mask:before
	content: '\f046'
	font-family: FontAwesome
	letter-spacing: 5px
.form-control
	margin 0 0 30px 0
	border-radius 0px	
.task
	background white
	padding-bottom 20px
	&__form
		&--hidden
			display none
	&__day 
		color $gray
		text-transform uppercase
		font-size 20px
		display block
		padding 15px 30px
	&__icon
		.fa
			color $purple
		&--completed
			color $gray !important
		.fa
		&--completed
			font-size 25px
			line-height 1
			margin-left 5px
		&--select
			padding 0
	&__header
		background-image url('../images/header__task-list.jpg')
		background-position center center
		background-size cover
		background-repeat no-repeat
		position relative
		height 30vh
		&:before
			content ''
			position absolute
			background-image linear-gradient(to right, $purple, $purple_dark 40% )
			opacity 0.7
			top 0
			right 0
			bottom 0
			left 0
		&--title 
			color white
			font-size 30px
			position absolute
			bottom 30px
			left 30px
	&__button--add
		.fa-plus
			background $red
			color white 
			font-size 50px
			position absolute
			bottom -30px
			border-radius 30px
			padding 5px 10px
			right 30px
	&__list
		&--hide
			opacity 0
	
	&__button
		font-size 25px
		color $gray
		cursor pointer
		&--favorite
			color $yellow !important
		.fa-trash-o
			color $red !important
		&--save
			color white
			background $purple_dark
			border none
			padding 5px 30px
			float right
			margin-top 40px			
	&__item
	&__input
		padding 0 0 0 5px
		&--title
		&--description
		&--completed
			display block
		&--title
		&--completed
			font-size 18px	
		&--title
			color $purple_dark
			font-weight bold
		&--description
			font-size 16px
		&--description
		&--completed
			color $gray
		&--completed
			text-decoration line-through	
	